nonebot2[httpx,websockets]==2.5.0
nonebot-adapter-milky==1.2.0
aiosqlite==0.22.1
meme-generator==0.2.3
nonebot-plugin-alconna==0.62.1
nonebot-plugin-auto-emojimix==0.2.1
nonebot-plugin-jrrp3==3.4.0
nonebot-plugin-localstore==0.7.4
nonebot-plugin-memes==0.8.1
nonebot-plugin-orm==0.8.3
nonebot-plugin-uninfo==0.11.1
nonebot-plugin-waiter==0.8.1
numpy==2.2.6
onnxruntime==1.28.0
opencv-python-headless==4.12.0.88
Pillow==12.3.0
pypinyin==0.55.0
pyclipper==1.4.0
PyYAML==6.0.3
Shapely==2.1.2
six==1.17.0
tqdm==4.70.0
